.header {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(237,243,248);
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media only screen and (max-width: 580px) {
    .header__btn {
        display: none;
    }
  }